@import "../../../assets/sass/abstracts/variables";

.newsletter-form {
  padding: 3rem 2rem 2rem;

  &__container {
    border: none;
  }

  &__col {
    width: 100%;
    position: relative;

    & label {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    & input {
      width: 100%;
      border: 2px solid $grey;
      border-radius: 8px;
      padding: 1.5rem;
      font-size: 1.6rem;
    }
  }

  &__error {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 1.2rem;
  }

  &__input-error {
    border-color: red !important;
    background: rgba(255, 0, 0, 0.1) !important;
  }

  &__submit {
    width: 100%;
    background: $dark-slate-grey;
    color: $white;
    margin: 2.5rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    font-size: 1.6rem;
  }
}
